.header {
  width: 100%;
  height: 50px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);

    > :nth-child(2) {
      cursor: pointer;
    }

    > :last-child {
      position: relative;
      > img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }
}

.HeaderOption {
  position: absolute;
  border: 1px solid red;
  width: 200px;
  border-radius: 0 0px 20px 20px;
  top: 40px;
  right: 5px;
  background: rgba(255, 255, 255, 0.6);
  scale: 1;
}

.sam{
  scale: 0;
}

.lar{
  animation: headerOption 0.5s ease-in-out ;
}

@keyframes headerOption {
  from{
    transform: scale(0);
  }

  to{
    transform: scale(1);
  }
}
