.postCard {
  width: 100%;
  border: 1px solid #ff4b2b;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > :nth-child(2) {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    > img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }

    >:last-child{
        cursor: pointer;
    }
  }

  > img {
    border-radius: 20px;
    width: 50%;
  }
}

.PostOption {
  position: absolute;
  right: 10px;
  border: 1px solid red;
  width: 200px;
  border-radius: 20px;
  top: 60px;
  background: rgba(255, 255, 255, 0.6);
  scale: 1;

  >p{
    text-align: center;
    cursor: pointer;
  }
}

.sam{
  scale: 0;
}

.lar{
  animation: headerOption 0.5s ease-in-out ;
}

@keyframes headerOption {
  from{
    transform: scale(0);
  }

  to{
    transform: scale(1);
  }
}