.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
  height: 100vh;

  > :first-child {
    width: 40%;

    > img {
      width: 100%;
    }
  }

  > :last-child {
    width: 40%;
    display: flex;
    justify-content: space-around;

    > div {
      > p {
        font-weight: 800;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .profile {
    flex-direction: column;
    justify-content: center;

    > :first-child {
      width: 80%;

      > img {
        width: 100%;
      }
    }

    > :last-child {
      width: 100%;

      > div {
        > p {
          font-weight: 800;
          font-size: 20px;
        }
      }
    }
  }
}
